@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global */
* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

/* Variables */
:root {
    /* Text */
    --text-xs: 1rem;
    --text-sm: 1rem;
    --text-md: 1rem;
    --text-lg: 1rem;
    --text-xl: 1rem;
}
